__pycache__/
*.pyc

# Python packaging artifacts
*.egg-info/
build/
dist/

# Node artifacts
node_modules/

# Python tool caches
.pytest_cache/

# Docs artifacts
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/

*.env